<div>
    <h1>Employees</h1>
    
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Employees" #input>
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="addEmployee()" style="float: right;">
        <mat-icon mat-list-icon>add</mat-icon>Add Employee
    </button>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="employeeData" matSort>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="EmployeeName">Name</th>
                <td mat-cell *matCellDef="let row">{{row.employeeName}}</td>
            </ng-container>

            <ng-container matColumnDef="Department">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="DepartmentName">Department</th>
                <td mat-cell *matCellDef="let row">{{row.department.departmentName}}</td>
            </ng-container>

            <ng-container matColumnDef="Salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="Salary">Salary</th>
                <td mat-cell *matCellDef="let row">{{row.salary | currency: 'USD': 'symbol-narrow': '1.0-0'}}</td>
            </ng-container>

            <ng-container matColumnDef="DateJoined">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="DateJoined">Date Joined</th>
                <td mat-cell *matCellDef="let row">{{formatDate(row.dateJoined)}}</td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="editEmployee(row)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteEmployee(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data.</td>
            </tr>
        </table>

        <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="[5,10,25,100]" (page)="onPageChange($event)" aria-label="Select page">
        </mat-paginator>

    </div>
</div>